<a href="/authors/{{this.data._id}}" class="authorProfile">
  <img src="/authors/profile/{{this.data._id}}" />
  <div class="content">
    <div class="name">{{{markdownInline this.data.name}}}{{#if this.admin}}<i class="delete fas fa-trash" data-confirm="Delete {{this.data.name}}" data-url="/authors/{{this.data._id}}"></i>{{/if}}</div>
    <div data-href="mailto://{{this.data.email}}" class="email pseudoLink">{{this.data.email}}</div>
    <p class="bio">{{this.data.bio}}</p>
  </div>
  <span class="name mobile">{{{markdownInline this.data.name}}}</span>
  <span data-href="mailto://{{this.data.email}}" class="email mobile pseudoLink">{{this.data.email}}</span>
  <span class="bio mobile">{{this.data.bio}}</span>
</a>
