<div class="paused radio">
  <img src="{{gcloud 0}}radioArchive/{{this.data._id}}/art" />
  <audio class="radioAudio" src="{{gcloud 0}}radioArchive/{{this.data._id}}/song" autoplay preload="auto"></audio>
  <div class="content">
    <p class="titleLine"><span class="title">{{{markdownInline this.data.title}}}</span><span class="artist">{{{markdownInline this.data.artist}}}</span>{{#if this.admin}}<a class="edit" href="/radioArchive/{{this.data._id}}/edit">Edit</a><i class="delete fas fa-trash" data-confirm="Delete {{this.data.title}}?" data-url="/radioArchive/{{this.data._id}}"></i>{{/if}}</p>
    <p class="byline"><span class="author">{{this.data.author}}</span><span class="date">{{date this.data.published}}</span></p>
    <p class="blurb">{{{markdownInline this.data.blurb}}}</p>
  </div>
</div>
