<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>cat scratch magazine</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/reset.css" />
  <link rel="stylesheet" href="/public/index.css" />
  <link rel="icon" href="/public/favicon.ico" />
</head>

<body {{#if landing}}class="landing" {{/if}}>
  <div id="loading">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', ()=> {
      console.log('hding')
      document.getElementById('loading').classList.add('hidden');
    });
  </script>

  <div id="content">
    {{#if landing}}
      <div id="landing">
        <img id="header" src="/public/header.png" />
        <!--<h1>CatScratch</h1>
            <div class="logo"></div>
            <h1>Magazine</h1>-->

        <div id="video">
          <video autoplay muted disablepictureinpicture loop playsinline preload>
            <source src="/public/logoVid.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

        <a href="/about" id="submit">submit</a>
        <!--<svg class="img" viewBox="-45 -45 90 90">
          <circle cx="-30" cy="0" />
          <circle cx="30" cy="0" />
        </svg>-->
        <nav>
          <a href="/articles">Articles</a>
          <a href="/radio">Radio</a>
          <a href="/zine">Zine</a>
          <a href="/about">About</a>
        </nav>
      </div>
    {{/if}}

    <nav id="nav" class="{{#if landing}}hidden{{else}}sticky{{/if}}">
      <a class="logo" href="/"><img src="/public/headerNav.png" /></a>
      <i id="navIcon" class="fa fa-bars"></i>
      <div class="links">
        <a href="/articles">Articles</a>
        <a href="/radio">Radio</a>
        <a href="/zine">Zine</a>
        <a href="/about">About</a>
      </div>
    </nav>

    {{{content}}}

    <div id="footer">
      <p class="copywrite"><i class="far fa-copyright"></i> Katie Manners 2021</p>
      <div class="socials">
        <a href="https://www.instagram.com/catscratchmagazine"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/catscratch_mag"><i class="fab fa-twitter"></i></a>
        <a href="mailto://catscratchmagazine@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="https://www.patreon.com/catscratchmagazine/"><i class="fab fa-patreon"></i></a>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/public/delete.js"></script>
  <script type="text/javascript" src="/public/pseudoLink.js"></script>
  <script type="text/javascript" src="/public/paginate.js"></script>
  <script type="text/javascript" src="/public/nav.js"></script>
</body>

</html>
