{{> navSticky }}
<div id="content">
  <div id="about">
    <h2>About</h2>
    <p>Cat scratch magazine explores the intersection of digital and traditional arts and culture created in and for DIY spaces. Our media includes a blog, radio, and zine supported by written, visual, and musical submissions straight from the
      underground.</p>

    <p>We are most interested in exploring bedroom pop stardom in the digital age. Through our coverage, we hope to crystallize the cultural moments and scenes that might otherwise fade into obscurity. We hope to provide artists, musicians,
      writers, and culturally significant figures with thoughtfully written articles that strengthen their media presence; expose them to new listeners, readers, or viewers; and encourage the continuation of their creativity.</p>

    <p>cat scratch magazine does not accept payment for promotion.</p>

    <p>For more information, or to submit your creative work, please contact <a href="mailto:catscratchmagazine@gmail.com">catscratchmagazine@gmail.com"</a>.</p>

    <p>Special thanks to Jack Thomas-Colwell and Adele Henning for web and logo design, respectively.</p>

    <p>Katie Manners, <em>Editor-in-Chief</em></p>
    <p>Gabriel Landes, <em>Creative Director</em></p>
  </div>
  <a href="mailto:catscratchmagazine@gmail.com" target="_blank" rel="noopener noreferrer" id="submit">Submit</a>
  <div id="submissionGuidelines">
    <h2>Submission Guidelines</h2>
    <p>Interested in submitting to cat scratch magazine? Please follow these guidelines to ensure your submission is received properly:</p>

    <p><em>Cat scratch magazine is a collection of written and visual submissions straight from the underground. Our focus is on the intersection of digital and traditional arts and culture created in and for DIY spaces.</em></p>

    <p><strong>Website submissions</strong> include interviews, reviews, and profiles of prominent figures and their works in the DIY arts and culture community. If you are interested in writing an article, please send your pitch to
      <a href="mailto:catscratchmagazine@gmail.com">catscratchmagazine@gmail.com"</a> and include “Pitch” in the subject line.</p>

    <p><strong>Magazine submissions</strong> include poetry, prose, creative nonfiction, lyrics, comics, photography, and visual art (in full-colour or greyscale). The magazine also features prominent articles originally published to our site. If
      you are interested in submitting creative work, please send your file(s) to <a href="mailto:catscratchmagazine@gmail.com">catscratchmagazine@gmail.com"</a> and include “Submission” in the subject line.</p>

    <p><strong>Long-form</strong> pieces should be between 500–2000 words and can include any creative work, including stories, journal entries, and opinion pieces. Any traditional interviews, reviews, and/or artist profiles submitted will be
      considered for the website prior to the magazine.</p>

    <p><strong>Poetry and lyrics</strong>, when properly formatted, should not exceed four 9x6” pages.</p>

    <p><strong>Visual art</strong> should not exceed two 9x6” pages.</p>

    <p><strong>Comics</strong> should not exceed four 9x6” pages.</p>

    <p>If you have any questions about the submission or pitching process, please contact <a href="mailto:catscratchmagazine@gmail.com">catscratchmagazine@gmail.com"</a>.</p>
  </div>
</div>
