<div class="textBlock extraPadding doubleSpaced">
  <div class="heading">About</div>
  <p>cat scratch magazine is a platform for creativity and critical analysis based in the digital underground. Our pieces explore up-and-coming artists through the lens of armchair psychology and literary dramatization, while remaining well-researched and thoughtfully edited. By continuing the literary tradition of zine curation, we hope to educate and excite our readers by allowing a brief glance into the minds of their favorite artists.</p>
  <p>For more information, or to submit your creative work, please contact <a href="mailto:catscratchmagazine@gmail.com" target="_blank">catscratchmagazine@gmail.com</a>. Please note that we do not accept payment for promotion.</p>
  <p>Special thanks to <a href="mailto:jack.thomascolwell@gmail.com" target="_blank">Jack Thomas-Colwell</a> and <a href="https://www.instagram.com/hinkstink/" target="_blank">Adele Henning</a> for web and logo design, respectively. And to our readers for supporting subculture in the age of the internet.</p>
  <p>~nyan nyan~</p>
  <p><a href="https://www.instagram.com/facesucker/" target="_blank">Katie Manners</a>, <em>Editor-in-Chief</em></p>
  <p><a href="https://www.instagram.com/x_pict0chat_x" target="_blank">Gabriel Landes</a>, <em>Creative Director</em></p>
</div>
<a href="mailto:catscratchmagazine@gmail.com" target="_blank" rel="noopener noreferrer" class="button">Submit</a>
<div class="textBlock extraPadding doubleSpaced">
  <div class="heading">Submission Guidelines</div>
  <p>cat scratch magazine is a collection of written and visual submissions straight from the underground. If you are Interested in submitting to cat scratch magazine, please follow these guidelines to ensure your submission is received properly.</p>

  <p><strong class="alt">Website submissions</strong> include interviews, reviews, and profiles of prominent figures and their works within the digital underground. If you are interested in writing an article, please send your pitch to <a href="mailto:catscratchmagazine@gmail.com" target="_blank">catscratchmagazine@gmail.com</a> and include “Pitch” in the subject line.</p>

  <p><strong class="alt">Magazine submissions</strong> include poetry, prose, creative nonfiction, lyrics, comics, photography, and visual art (in full-color or grayscale). The magazine also features prominent articles originally published to our site. If  you are interested in submitting creative work, please send your file(s) to <a href="mailto:catscratchmagazine@gmail.com" target="_blank">catscratchmagazine@gmail.com</a> and include “Submission” in the subject line.</p>

  <p><strong class="alt">Long-form</strong> pieces should be between 500–2000 words and can include any creative work, including stories, journal entries, and opinion pieces. Any traditional interviews, reviews, and/or artist profiles submitted will be considered for the website prior to the magazine.</p>

  <p><strong class="alt">Poetry and lyrics</strong>, when properly formatted, should not exceed four 9x6” pages.</p>

  <p><strong class="alt">Visual art</strong> should not exceed two 9x6” pages.</p>

  <p><strong class="alt">Comics</strong> should not exceed four 9x6” pages.</p>

  <p>If you have any questions about the submission or pitching process, please contact <a href="mailto:catscratchmagazine@gmail.com" target="_blank">catscratchmagazine@gmail.com</a>.</p>
</div>
