<div class="titleBlock">
  <div class="heading">New article</div>
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
</div>
<form method="post" enctype="multipart/form-data">
  <label class="textLabel">title: <input type="text" name="title" value="{{article.title}}" /></label>
  <label class="textAreaLabel">body: <textarea type="text" name="body">{{article.body}}</textarea></label>
  <label class="textAreaLabel">abstract: <input type="text" name="abstract" value="{{article.abstract}}" /></label>
  <label class="textLabel">author: <input type="text" name="author" value="{{article.author}}" /></label>
  <label class="dateLabel">published: <input type="date" name="published" value="{{article.published}}" /></label>
  <label class="fileLabel">cover: <input type="file" name="cover" /></label>
  <label class="fileLabel">images: <input type="file" name="images" multiple /></label>
  <input type="submit" value="New">
</form>
