<div class="break"></div>

<form method="post" id="articleEdit" enctype="multipart/form-data">
  <div class="heading">Edit article</div>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <div class="form__group third">
    <input type="text" class="form__field" placeholder="Title" name="title" id="title" value="{{article.title}}" required />
    <label for="title" class="form__label">Title</label>
  </div>

  <div class="form__group third">
    <select class="form__field" name="author" id="author" value="{{article.author}}">
      {{#each authors}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label for="author" class="form__label">Author</label>
  </div>

  <div class="form__group third">
    <input type="date" class="form__field" placeholder="Published" name="published" id="published" value="{{article.published}}" required />
    <label for="published" class="form__label">Published</label>
  </div>

  <div class="form__group__area full">
    <textarea class="form__field" type="text" name="body" id="body" placeholder="Body">{{article.body}}</textarea>
    <label for="body" class="form__label">Body</label>
  </div>

  <div class="form__group__area half">
    <textarea class="form__field" type="text" name="abstract" id="abstract" placeholder="Abstract">{{article.abstract}}</textarea>
    <label for="abstract" class="form__label">Abstract</label>
  </div>

  <div class="form__group__area half">
    <textarea class="form__field" type="text" name="metadata" id="metadata" placeholder="Metadata">{{article.metadata}}</textarea>
    <label for="metadata" class="form__label">Metadata</label>
  </div>

  <div class="form__group half">
    <input type="file" class="form__field" placeholder="Cover" name="cover" id="cover" />
    <label for="cover" class="form__label">Cover</label>
  </div>

  <div class="form__group half">
    <input type="file" class="form__field" placeholder="New Images" name="newImages" id="newImages" multiple />
    <label for="newImages" class="form__label">New Images</label>
  </div>

  <input hidden name="oldImages" id="oldImages" type="text" value="[]"/>
  {{#if article.images}}
    <div class="subheading">Old Images</div>
    {{#each article.images}}
      <div data-id="{{this}}" class="oldImage">
        <img src="{{gcloud 0}}articles/{{../article._id}}/{{this}}" />
        <span class="filename">{{this}}</span>
      </div>
    {{/each}}
  {{/if}}
  <input type="submit" value="Submit">
</form>

<script type="text/javascript">
  const oldImages = Array.from(document.getElementsByClassName('oldImage'));
  const oldImagesField = document.getElementById('oldImages');
  let selectedImages = [];
  oldImages.forEach(image => {
    const {id} = image.dataset;
    image.addEventListener('click', e=> {
      if (image.classList.contains('selected')) { //deselct
        image.classList.remove('selected');
        selectedImages.splice(selectedImages.indexOf(id, 1));
        oldImagesField.value = JSON.stringify(selectedImages);
      } else { //select
        image.classList.add('selected');
        selectedImages.push(id);
        oldImagesField.value = JSON.stringify(selectedImages);
      }
    });
  });

</script>
