<script src="/public/index.js" type="text/javascript" defer></script>
<a href="/articles/{{featuredArticle._id}}" class="articleCover featured">
  <img src="/articles/{{featuredArticle._id}}/images/cover" />
  <div class="content">
    <p class="title">{{{markdownInline featuredArticle.title}}}</p>
    <p class="byline"><span class="author">{{featuredArticle.author}}</span><span class="date">{{date featuredArticle.published}}</span></p>
    <p class="abstract">{{featuredArticle.abstract}}</p>
  </div>
</a>

{{#each articles}}
  {{> articleCover data=this admin=../admin }}
{{/each}}
