{{#if featuredArticle }}
  <a href="/articles/{{featuredArticle._id}}" class="articleFeature">
    <img src="/articles/{{featuredArticle._id}}/images/cover" />
    <div class="content">
      <p class="title">{{{markdownInline featuredArticle.title}}}</p>
      <p class="byline"><span class="author">{{featuredArticle.author.name}}</span><span class="date">{{date featuredArticle.published}}</span></p>
      <p class="abstract">{{featuredArticle.abstract}}</p>
    </div>
  </a>
{{/if}}

{{#if articles}}
  <div class="break"></div>
{{/if}}

{{#each articles}}
  {{> articleCover data=this admin=../admin }}
{{/each}}
