{{#if featuredArticle }}
  <a href="/articles/{{featuredArticle._id}}" class="articleFeature">
    <img src="/articles/{{featuredArticle._id}}/images/cover" />
    <div class="content">
      <p class="title">{{{markdownInline featuredArticle.title}}}</p>
      <p class="byline"><span class="author">{{featuredArticle.author.name}}</span><span class="date">{{date featuredArticle.published}}</span></p>
      <p class="abstract">{{featuredArticle.abstract}}</p>
    </div>
  </a>
{{/if}}

{{#if articles}}
  <div class="break"></div>
{{/if}}

{{#each articles}}
  {{> articleCover data=this admin=../admin }}
{{/each}}

<script type="text/javascript">
const submit = document.getElementById('submit');
const landing = document.getElementById('landing');
let prevScale = 1;
const resizeCB = () => {
  const windowWidth = landing.getBoundingClientRect().width;
  const submitWidth = submit.getBoundingClientRect().width;
  if (submitWidth / prevScale > 0.75 * windowWidth) {
    const newScale = 0.75 * prevScale * windowWidth / submitWidth;
    prevScale = newScale;
    submit.style.setProperty('transform', `scaleX(${newScale})`)
  } else {
    prevScale = 1;
    submit.style.setProperty('transform', '');
  }
};
window.addEventListener('resize', resizeCB);
resizeCB();
</script>
