<div id="radio" class="radio paused">
  <img src="/radioArchive/art/{{songData._id}}" />
  <i class="play fas fa-volume-mute"></i>
  <div class="content">
    <p class="titleLine"><span class="title">{{songData.title}}</span><span class="artist">{{songData.artist}}</span></p>
    <p class="byline"><span class="author">{{songData.author}}</span><span class="date">{{date songData.published}}</span></p>
    <p class="blurb">{{songData.blurb}}</p>
  </div>
  <audio class="radioAudio" src="stream" muted autoplay></audio>
</div>
<div class="textBlock">
  Welcome&nbsp;to&nbsp;the&nbsp;underground&nbsp;!! For&nbsp;archived&nbsp;songs,&nbsp;please&nbsp;click&nbsp;<a href="/radioArchive">here</a>.
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script type="text/javascript">
  const radio = document.getElementById('radio');
  const img = radio.getElementsByTagName('img')[0];
  const audio = radio.getElementsByTagName('audio')[0];
  const plays = radio.getElementsByClassName('play')[0];
  const title = radio.getElementsByClassName('title')[0];
  const artist = radio.getElementsByClassName('artist')[0];
  const author = radio.getElementsByClassName('author')[0];
  const date = radio.getElementsByClassName('date')[0];
  const blurb = radio.getElementsByClassName('blurb')[0];
  let nextAudio 

  const queue = '{{streamQueue}}';

  let nextAudio =

  function loadNextSong() {
    const nextSong = queue.pop();
    if (queue.length == 0) {
      //FIXME refresh queue
    }
    const request = new XMLHttpRequest();
    request.open('GET', `/radioArchive/stream/${}`, true);
    request.responseType = "blob";
    request.onload = function() {
      if (this.status == 200) {
        var audio = new Audio(URL.createObjectURL(this.response));
        audio.load();
        audio.play();
      }
    }
    request.send();
  }

  function muteUnmute() {
    if (audio.paused) {
      audio.play();
      audio.currentTime = ((new Date()) - startTime) / 1000;
    }
    if (radio.classList.contains('paused')) { //was muted
      audio.muted = false;
      img.parentElement.classList.remove('paused');
      plays.forEach(elem => {
        elem.classList.remove('fa-volume-mute');
        elem.classList.add('fa-volume-up');
      });
    } else { //was playing
      audio.muted = true;
      img.parentElement.classList.add('paused');
      plays.forEach(elem => {
        elem.classList.add('fa-volume-mute');
        elem.classList.remove('fa-volume-up');
      });
    }
  }
  img.addEventListener('click', muteUnmute);
  plays.forEach(elem => {
    elem.addEventListener('click', muteUnmute);
  });



  socket.on('newSong', function(songData) {
    title.innerText = songData.title;
    artist.innerText = songData.artist;
    author.innerText = songData.author;
    const date = new Date(songData.published);
    date.innerText = moment(date).format("MMM D, YYYY");
    blurb.innerText = songData.blurb;
    img.setAttribute('src', `/radioArchive/art/${songData._id}`);
  });
</script>
