<div class="break"></div>
<div class="titleBlock">
  <div class="heading">Radio Archive</div>
  <!--<p>Listen and read at your own pace. This archive contains every song and blurb ever in rotation on cat scratch radio.</p>-->
</div>

{{#if admin}}
<a href="/radioArchive/new" class="button new">new</a>
{{/if}}

{{#unless songData}}
<div class="titleBlock">
  <p>No radio entries yet, check back soon!</p>
</div>
{{/unless}}
{{#each songData}}
  {{> radioCover data=this admin=../admin}}
{{/each}}

{{> pagination maxPage=maxPage page=page }}

<script type="text/javascript">
  let targets = Array.from(document.getElementsByClassName('radioAudio')).map(e => [e, e.parentElement.getElementsByTagName('img')[0]]);
  targets.forEach(([audio, img], i) => {
    audio.volume = 0.5;
    async function restartAudio(elem) {
      console.log(['restarting ',elem])
      await elem.pause();
      elem.currentTime = 0;
    }
    audio.addEventListener('ended', async () => {
      await restartAudio(audio);
    });
    async function playPause() {
      if (img.parentElement.classList.contains('paused')) { //was paused
        console.log(['playing ', img])
        targets.forEach(async ([newAudio, newImg], j) => {
          newImg.parentElement.classList.add('paused');
          await restartAudio(newAudio);
        });
        console.log('playing now')
        img.parentElement.classList.remove('paused');
        await audio.play();
      } else { //was playing
        console.log(['pausing ', img])
        await restartAudio(audio);
        img.parentElement.classList.add('paused');
      }
    }

    img.addEventListener('click', playPause);
    console.log(playPause);
    restartAudio(audio);
  });
</script>
