<div id="radio" class="radio paused">
  <img src="/radioArchive/art/{{startSong._id}}" />
  <i class="play fas fa-volume-mute"></i>
  <div class="content">
    <p class="titleLine"><span class="title">{{startSong.title}}</span><span class="artist">{{{markdownInline startSong.artist}}}</span></p>
    <p class="byline"><span class="author">{{ startSong.author}}</span><span class="date">{{date startSong.published}}</span></p>
    <p class="blurb">{{{markdownInline startSong.blurb}}}</p>
  </div>
  <!--<audio src="/radioArchive/stream/{{startSong._id}}" preload="auto"></audio>-->
</div>
<div class="textBlock">
  Welcome&nbsp;to&nbsp;the&nbsp;underground&nbsp;!! For&nbsp;archived&nbsp;songs,&nbsp;please&nbsp;click&nbsp;<a href="/radioArchive">here<span class="green">.</span></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js" integrity="sha256-3mv+NUxFuBg26MtcnuN2X37WUxuGunWCCiG2YCSBjNc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script type="text/javascript">
  const isIOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);

  const radio = document.getElementById('radio');
  const img = radio.getElementsByTagName('img')[0];
  const play = radio.getElementsByClassName('play')[0];
  const title = radio.getElementsByClassName('title')[0];
  const artist = radio.getElementsByClassName('artist')[0];
  const author = radio.getElementsByClassName('author')[0];
  const date = radio.getElementsByClassName('date')[0];
  const blurb = radio.getElementsByClassName('blurb')[0];
  //const startAudio = radio.getElementsByTagName('audio')[0];

  const context = new AudioContext()
  const gainNode = context.createGain();
  gainNode.gain.value = 0;
  gainNode.connect(context.destination);
  //const firstAudioSource = context.createMediaElementSource(startAudio);
  //firstAudioSource.connect(gainNode);
  /*startAudio.addEventListener('ended', () => {
    console.log('ended!')
    buffer = nextBuffer;
    song = nextSong;
    playAudio();
  });*/
  let buffer = null;
  let nextBuffer = null;
  let queue = {{{streamQueue}}};

  function loadBuffer(url, cb) {
    const request = new XMLHttpRequest();
    request.open("GET", url, true);
    request.responseType = "arraybuffer";

    request.onload = () => {
      context.decodeAudioData(request.response, cb);
    };

    request.send();
  }
  song = {{{stringify startSong}}};
  loadBuffer(`/radioArchive/stream/${song._id}`, newBuffer=>{
    buffer = newBuffer;
    playAudio();
  })

  loadNextSong();

  function loadNextSong() {
    nextSong = queue.pop();
    if (queue.length == 0) {
      const request = new XMLHttpRequest();
      request.open("GET", '/streamQueue', true);
      request.responseType = "json";

      request.onload = () => {
        queue = queue.concat(request.response);
      };

      request.send();
    }

    loadBuffer(`/radioArchive/stream/${nextSong._id}`, newBuffer => {
      nextBuffer = newBuffer;
    });
  }

  // LOAD FIRST SONG
  /*song = queue.pop();
  loadBuffer(`/radioArchive/stream/${song._id}`, newBuffer => {
    buffer = newBuffer;
    playAudio();
  });*/

  function playAudio() {
    loadNextSong();
    const bufferSource = context.createBufferSource();
    bufferSource.buffer = buffer;

    bufferSource.addEventListener('ended', () => {
      buffer = nextBuffer;
      song = nextSong;
      playAudio();
    });

    console.log(bufferSource);
    bufferSource.connect(gainNode);
    bufferSource.start();
    const md = new markdownit();

    title.innerText = song.title;
    author.innerText = song.author;
    artist.innerHTML = md.renderInline(song.artist);
    const dateObj = new Date(song.published);
    date.innerText = moment(dateObj).format("MMM D, YYYY");
    blurb.innerHTML = md.renderInline(song.blurb);
    img.setAttribute('src', `/radioArchive/art/${song._id}`);
  }

  let hasClicked = false;

  function muteUnmute() {
    if (context.state != 'running') {
      //startAudio.play();
      context.resume();
    }
    if (!hasClicked || !isIOS) {
      if (radio.classList.contains('paused')) { //was muted
        gainNode.gain.value = 0.5;
        img.parentElement.classList.remove('paused');
        if (isIOS) {
          play.remove();
        }
        play.classList.remove('fa-volume-mute');
        play.classList.add('fa-volume-up');
      } else { //was playing
        gainNode.gain.value = 0;
        img.parentElement.classList.add('paused');
        play.classList.add('fa-volume-mute');
        play.classList.remove('fa-volume-up');
      }
    }
    hasClicked = true;
  }
  img.addEventListener('click', muteUnmute);
  play.addEventListener('click', muteUnmute);
</script>
