<div id="content">
  <div id="user">
    <div class="email">{{user.email}}</div>
    <div class="admin">Admin {{#if user.admin}}
        <i id="adminRemove" class="far fa-check-square"></i>
      {{else}}
        <i id="admin" class="far fa-square"></i>
      {{/if}}
    </div>
  </div>
  <script>
    let adminButton = document.getElementById('admin');
    if (adminButton) {
      adminButton.addEventListener('click', e => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("PUT", "/users/{{user._id}}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("admin=true");
      });
    }
    let adminButtonRemove = document.getElementById('adminRemove');
    if (adminButtonRemove) {
      adminButtonRemove.addEventListener('click', e => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("PUT", "/users/{{user._id}}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("admin=false");
      });
    }
  </script>
</div>
