<html>

<head>
  <title>{{user.email}}</title>
</head>

<body>
  <h3>{{user.email}}</h3>
  <p>Is admin: {{user.admin}}</p>
  {{#if user.admin}}
    <button id="adminRemove">Remove Admin</button>
  {{else}}
    <button id="admin">Make Admin</button>
  {{/if}}
  <button id="delete">Delete</button>
  <a href="/users">Back</a>
  <script>
    let adminButton = document.getElementById('admin');
    if (adminButton) {
      adminButton.addEventListener('click', e => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("PUT", "/users/{{user._id}}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("admin=true");
      });
    }
    let deleteButton = document.getElementById('delete');
    if (deleteButton) {
      deleteButton.addEventListener('click', e => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "/users/{{user._id}}");
        xhttp.send();
      });
    }
    let adminButtonRemove = document.getElementById('adminRemove');
    if (adminButtonRemove) {
      adminButtonRemove.addEventListener('click', e => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("PUT", "/users/{{user._id}}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("admin=false");
      });
    }
  </script>
</body>

</html>
