@font-face {
  font-family: neuropol;
  src: url("/public/neuropol.ttf");
}
@font-face {
  font-family: laChata;
  src: url("/public/La-chata-normal.ttf");
}
@font-face {
  font-family: nunito;
  src: url("Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url("Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: nunito;
  src: url("Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url("Nunito-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 87.5%;
  }
}

::selection {
  background: rgba(255, 242, 13, 0.25);
}

::-moz-selection {
  background: rgba(255, 242, 13, 0.25);
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;
}
strong.alt {
  color: #ff78b0;
}

small {
  font-size: 1.125rem;
}

a, .pseudoLink {
  color: #ff78b0;
  text-decoration: none;
  cursor: pointer;
}
a:hover, .pseudoLink:hover {
  color: #fff20d;
}

.delete {
  cursor: pointer;
  z-index: 2;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  font-size: 2rem;
}
.delete:hover {
  color: #ff78b0;
}

body {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  color: #84cc99;
  overscroll-behavior: none;
  background-color: #181b20;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content";
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
body.landing #content {
  overflow-y: auto;
}
body.landing #nav {
  position: fixed;
  transition: transform 0.25s ease-out;
}
body.landing #nav.hidden {
  transform: translateY(-100%);
}
body::-webkit-scrollbar {
  display: none;
}

#landing {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: 1;
  background-color: #181b20;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vmin 1fr 15vmin;
  grid-template-areas: "header" "submit" "nav";
  border-bottom: 1rem solid #181b20;
}
#landing #header {
  z-index: 1;
  grid-area: header;
  aspect-ratio: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#landing #submit {
  grid-area: submit;
  margin: auto;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 20px;
  background-color: rgba(255, 120, 176, 0.2);
  border: 4px solid #ff78b0;
  color: #f7f7fc;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing #submit:hover {
  background-color: rgba(255, 120, 176, 0.4);
}
#landing #video {
  grid-column: 1;
  grid-row: 1/span 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: auto;
  background: #181b20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing #video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
#landing nav {
  z-index: 2;
  grid-area: nav;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 768px) {
  #landing nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #landing nav {
    display: flex;
  }
}
#landing nav a, #landing nav .pseudoLink {
  display: block;
  width: 15vw;
  height: 100%;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  color: #84cc99;
  background-color: #84cc99;
  text-shadow: 1px 1px #181b20;
  background-color: #181b20;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 2px;
  transition: padding 0.25s ease-out, transform 0.25s ease-out;
}
#landing nav a svg, #landing nav .pseudoLink svg {
  width: 100%;
  height: 100%;
  fill: #ff78b0;
}
#landing nav a svg foreignObject, #landing nav .pseudoLink svg foreignObject {
  width: 100%;
  height: 100%;
}
#landing nav a.active, #landing nav .active.pseudoLink, #landing nav a:hover, #landing nav .pseudoLink:hover {
  color: #ff78b0;
  padding-bottom: 5px;
}

#nav {
  user-select: none;
  display: flex;
  grid-area: nav;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 15vmin;
  padding-left: 6.665vw;
  padding-right: 6.665vw;
  z-index: 4;
  background: #181b20;
  color: #84cc99;
  border-bottom: 4px solid #495350;
}
#nav.sticky {
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 768px) {
  #nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    overflow: visible;
  }
  #nav .logo {
    height: 15vmin;
  }
  #nav #navIcon {
    font-size: 2rem;
    color: #84cc99;
    text-shadow: 1px 1px #b2ffce;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav #navIcon:hover {
    color: #ff78b0;
  }
  #nav .links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: auto;
    display: none;
    padding-bottom: 5px;
  }
  #nav.expanded .links {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  #nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #nav .logo {
    height: 100%;
  }
  #nav .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
  }
  #nav #navIcon {
    display: none;
  }
}
#nav .logo {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}
#nav .logo img {
  height: 100%;
  aspect-ratio: auto;
  user-select: none;
}
#nav .links {
  flex-wrap: nowrap;
}
#nav .links a, #nav .links .pseudoLink {
  box-sizing: border-box;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  color: #84cc99;
  background-color: #181b20;
  text-shadow: 1px 1px #181b20;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .links a.active, #nav .links .active.pseudoLink, #nav .links a:hover, #nav .links .pseudoLink:hover {
  color: #ff78b0;
  background-color: #495350;
}

#content {
  grid-area: content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url("background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
#content::-webkit-scrollbar {
  display: none;
}
#content::after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(6.665% - 10px);
  right: calc(6.665% - 10px);
  bottom: 0;
  background-color: rgba(9, 0, 0, 0.7);
  z-index: 0;
}
#content .break {
  width: 100%;
  height: 0;
  margin-bottom: 20px;
}
#content .articleFeature {
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: 35px;
  background-color: #181b20;
  color: #d6c5cc;
  text-align: center;
  box-sizing: border-box;
}
#content .articleFeature .content {
  padding: 10px 6.665vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#content .articleFeature .content .title {
  font-size: 3.554rem;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  padding-left: 6.665vw;
  padding-right: 6.665vw;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px #b2ffce;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#content .articleFeature .content .byline {
  justify-content: center;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
  margin-bottom: 1ex;
}
#content .articleFeature .content .byline .date::before {
  content: ", ";
}
#content .articleFeature .content .abstract {
  text-align: center;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
}
#content .articleFeature img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  user-select: none;
}
#content .articleCover {
  z-index: 1;
  box-sizing: border-box;
  width: 86.67%;
  margin-bottom: 20px;
  background-color: #181b20;
  color: #84cc99;
  overflow: hidden;
  display: grid;
}
@media only screen and (max-width: 768px) {
  #content .articleCover {
    overflow: visible;
    grid-template-columns: 1fr;
    grid-template-rows: 160px auto;
    grid-template-areas: "image" "text";
  }
  #content .articleCover .content .title {
    font-size: 1.5rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  #content .articleCover .content .byline {
    font-size: 0.75rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  #content .articleCover .content .abstract {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 768px) {
  #content .articleCover {
    height: 160px;
    min-height: 160px;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "image ." "image text" "image .";
  }
  #content .articleCover .content .title {
    font-size: 2rem;
  }
  #content .articleCover .content .byline {
    font-size: 1.125rem;
  }
  #content .articleCover .content .abstract {
    font-size: 1.5rem;
  }
}
#content .articleCover .content {
  grid-area: text;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px 10px 20px;
}
#content .articleCover .content::-webkit-scrollbar {
  display: none;
}
#content .articleCover .content .title {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1px;
  text-shadow: 1px 1px #b2ffce;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#content .articleCover .content .title .delete {
  float: right;
}
#content .articleCover .content .byline {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
  margin-bottom: 1ex;
}
#content .articleCover .content .byline .date::before {
  content: ", ";
}
#content .articleCover .content .abstract {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  text-align: justify;
}
#content .articleCover img {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  user-select: none;
}
#content .textBlock {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 86.67%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #181b20;
  color: #84cc99;
  z-index: 2;
}
#content .textBlock.noBackground {
  background: none;
}
#content .textBlock.extraPadding {
  padding: 10px 40px;
}
#content .textBlock.doubleSpaced p {
  margin-bottom: calc(5px + 1em);
}
#content .textBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #495350;
  font-variant: small-caps;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2.666rem;
  text-align: center;
}
#content .textBlock p {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 5px;
}
#content .textBlock p:last-child {
  margin-bottom: 0;
}
#content .titleBlock {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 86.67%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #181b20;
  color: #84cc99;
  z-index: 2;
}
#content .titleBlock.noBackground {
  background: none;
}
#content .titleBlock.extraPadding {
  padding: 10px 40px;
}
#content .titleBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #495350;
  font-variant: small-caps;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  text-align: center;
}
#content .titleBlock .heading:last-child:first-child {
  border-bottom: none;
}
#content .titleBlock p {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  text-align: center;
}
#content .button {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  color: #ff78b0;
  text-shadow: 1px 1px #b2ffce;
  z-index: 3;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
#content .button:hover {
  color: #fff20d;
}
#content .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
  z-index: 2;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
}
#content .pagination .current,
#content .pagination .next,
#content .pagination .prev {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
#content .pagination .next,
#content .pagination .prev {
  cursor: pointer;
}
#content .pagination .next:active, #content .pagination .next:hover,
#content .pagination .prev:active,
#content .pagination .prev:hover {
  color: #ff78b0;
}
#content .pagination .next.disabled,
#content .pagination .prev.disabled {
  color: #84cc99;
  cursor: auto;
}
#content .radio {
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  width: 86.67%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "image ." "image text" "image .";
  height: 160px;
  min-height: 160px;
  background-color: #181b20;
  color: #84cc99;
}
#content .radio#radio {
  grid-template-columns: 300px 1fr;
  height: 300px;
  min-height: 300px;
}
#content .radio#radio ~ .textBlock {
  display: block;
  font-size: 2rem;
  text-align: center;
}
#content .radio .content {
  grid-area: text;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px 10px 20px;
}
#content .radio .content::-webkit-scrollbar {
  display: none;
}
#content .radio .content .titleLine {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
#content .radio .content .titleLine .title {
  letter-spacing: 1px;
  text-shadow: 1px 1px #b2ffce;
  text-transform: uppercase;
}
#content .radio .content .titleLine .artist {
  text-transform: capitalize;
}
#content .radio .content .titleLine .artist::before {
  content: "by";
  margin-left: 1ex;
  margin-right: 1ex;
  text-transform: lowercase;
}
#content .radio .content .titleLine .delete {
  margin-left: auto;
}
#content .radio .content .byline {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
  margin-bottom: 1ex;
}
#content .radio .content .byline .date::before {
  content: ", ";
}
#content .radio .content .blurb {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
}
#content .radio.paused img {
  filter: blur(2px) grayscale(50%);
}
#content .radio img:hover ~ .play {
  color: #ff78b0;
}
#content .radio .play {
  aspect-ratio: 1;
  grid-area: image;
  font-size: 3.554rem;
  background-color: #181b20;
  box-sizing: border-box;
  width: 3ex;
  height: 3ex;
  border-radius: 25%;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  z-index: 3;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#content .radio .play:hover {
  color: #ff78b0;
}
#content .radio img {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
#content.radio {
  justify-content: space-around;
}
#content .article {
  background-color: #f7f7fc;
  color: #181b20;
  padding: 10px 40px 20px;
}
#content .article img {
  width: 100%;
  aspect-ratio: 1.333;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  user-select: none;
}
#content .article a, #content .article .pseudoLink {
  color: #ff78b0;
}
#content .article a:hover, #content .article .pseudoLink:hover {
  color: #84cc99;
}
#content .article p {
  font-family: nunito;
  font-weight: 400;
  line-height: 1.25;
}
#content .article .heading {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
#content .article .byline {
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
  margin-bottom: 1em;
}
#content .article .byline .date::before {
  content: ", ";
}
#content .zineCover {
  max-width: 86.67%;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
}
#content .zineCover canvas {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
#content .zineCover .delete {
  z-index: 3;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  margin-left: auto;
  margin-right: auto;
  margin-right: 5px;
  margin-top: 5px;
}
#content .zineCover .content {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  font-size: 1.5rem;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  color: #84cc99;
  background-color: #181b20;
}
#content .zine {
  z-index: 2;
  margin-bottom: 20px;
  width: 86.67%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}
#content .zine .zinePage {
  width: 100%;
  grid-row: 1;
}
#content .zine .zinePage:first-of-type {
  grid-area: left !important;
}
#content .zine .zinePage:last-of-type {
  grid-area: right;
}
#content .zine .zinePage.cover {
  grid-area: right !important;
}
#content .zine .pageMarker {
  grid-row: 1;
  margin-top: auto;
  padding-left: 5px;
  padding-right: 5px;
  aspect-ratio: 1;
  background: #181b20;
  color: #84cc99;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#content .zine .pageMarker:first-of-type {
  grid-area: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}
#content .zine .pageMarker:last-of-type {
  grid-area: right;
  margin-left: auto;
  margin-right: 0;
}
#content form {
  width: 86.67%;
  z-index: 2;
  margin-top: 20px;
  background-color: #181b20;
  color: #84cc99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 20px;
  box-sizing: border-box;
}
#content form .heading {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #495350;
  font-variant: small-caps;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  text-align: center;
}
#content form .error {
  width: 100%;
  color: #fff20d;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}
#content form .form__group {
  margin-top: 20px;
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  height: 2em;
  margin-left: 5px;
  margin-right: 5px;
}
#content form .form__group.third {
  width: calc((100% - 30px) / 3);
}
#content form .form__group.fourth {
  width: calc((100% - 40px) / 4);
}
#content form .form__group.half {
  width: calc((100% - 20px) / 2);
}
#content form .form__group.full {
  width: calc(100% - 10px);
}
#content form .form__group .form__field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #495350;
  outline: none;
  font-size: 1.5rem;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  color: #f7f7fc;
  background: transparent;
  transition: border-color 0.2s;
  position: absolute;
  bottom: 0;
}
#content form .form__group .form__field::placeholder {
  opacity: 0;
}
#content form .form__group .form__field:placeholder-shown ~ .form__label {
  font-size: 1.5rem;
  bottom: 0;
  transform: none;
  cursor: text;
}
#content form .form__group .form__field:invalid, #content form .form__group .form__field:required {
  box-shadow: none;
}
#content form .form__group .form__field:focus {
  border-color: #84cc99;
}
#content form .form__group .form__field:focus ~ .form__label {
  font-size: 0.75rem;
  color: #84cc99;
  bottom: 100%;
  transform: translateY(100%);
}
#content form .form__group .form__label {
  position: absolute;
  transition: 0.2s;
  bottom: 100%;
  transform: translateY(100%);
  font-size: 0.75rem;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  color: #495350;
}
#content form .form__group__area {
  margin-top: 20px;
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 5px;
  margin-right: 5px;
}
#content form .form__group__area.third {
  height: 4em;
  width: calc((100% - 30px) / 3);
}
#content form .form__group__area.fourth {
  height: 6em;
  width: calc((100% - 40px) / 4);
}
#content form .form__group__area.half {
  height: 8em;
  width: calc((100% - 20px) / 2);
}
#content form .form__group__area.full {
  height: 10em;
  width: calc(100% - 10px);
}
#content form .form__group__area .form__field {
  resize: none;
  width: 100%;
  border: 0;
  height: calc(100% - 1em);
  border-bottom: 1px solid #495350;
  outline: none;
  font-size: 1.5rem;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  color: #f7f7fc;
  background: transparent;
  transition: border-color 0.2s;
  position: absolute;
  bottom: 0;
}
#content form .form__group__area .form__field::placeholder {
  opacity: 0;
}
#content form .form__group__area .form__field:placeholder-shown ~ .form__label {
  font-size: 1.5rem;
  bottom: 0;
  transform: none;
  cursor: text;
}
#content form .form__group__area .form__field:invalid, #content form .form__group__area .form__field:required {
  box-shadow: none;
}
#content form .form__group__area .form__field:focus {
  border-color: #84cc99;
}
#content form .form__group__area .form__field:focus ~ .form__label {
  font-size: 0.75rem;
  color: #84cc99;
  bottom: 100%;
  transform: translateY(100%);
}
#content form .form__group__area .form__label {
  position: absolute;
  transition: 0.2s;
  bottom: 100%;
  transform: translateY(100%);
  font-size: 0.75rem;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  color: #495350;
}
#content form .subheading {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #495350;
}
#content form .oldImage {
  margin-top: 20px;
  width: calc((100% - 30px) / 3);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  cursor: pointer;
}
#content form .oldImage.selected {
  filter: blur(2px) grayscale(50%);
}
#content form .oldImage:hover {
  color: #ff78b0;
}
#content form .oldImage img {
  z-index: 2;
  grid-column: 1;
  grid-row: 1/span 2;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  user-select: none;
}
#content form .oldImage .filename {
  z-index: 3;
  grid-column: 1;
  grid-row: 2;
  background-color: #181b20;
  font-size: 0.75rem;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  width: 100%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
#content form input[type=submit] {
  margin-top: 20px;
  width: 100%;
  background: transparent;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  font-size: 2rem;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  border: none;
  outline: none;
}
#content form input[type=submit]:active, #content form input[type=submit]:hover {
  color: #ff78b0;
}
#content .authorProfile {
  z-index: 1;
  box-sizing: border-box;
  width: 86.67%;
  margin-bottom: 20px;
  background-color: #181b20;
  color: #84cc99;
}
@media only screen and (max-width: 768px) {
  #content .authorProfile {
    overflow: visible;
  }
  #content .authorProfile::after {
    content: "";
    display: table;
    clear: both;
  }
  #content .authorProfile .mobile {
    display: block;
    width: 100%;
    box-sizing: border-box;
    clear: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  #content .authorProfile .name, #content .authorProfile .email {
    word-break: break-all;
    word-wrap: break-word;
  }
  #content .authorProfile .name {
    font-size: 1.5rem;
  }
  #content .authorProfile .email {
    font-size: 0.75rem;
  }
  #content .authorProfile .bio {
    font-size: 1.125rem;
  }
  #content .authorProfile .content {
    display: none;
  }
  #content .authorProfile img {
    display: inline-block;
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #content .authorProfile {
    overflow: hidden;
    min-height: 160px;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "image ." "image text" "image .";
    min-height: 160px;
  }
  #content .authorProfile .mobile {
    display: none;
  }
  #content .authorProfile img {
    grid-area: image;
    width: 100%;
    height: 100%;
  }
  #content .authorProfile .content {
    width: 100%;
    display: flex;
  }
  #content .authorProfile .content .name {
    font-size: 2rem;
  }
  #content .authorProfile .content .email {
    font-size: 1.125rem;
  }
  #content .authorProfile .content .bio {
    font-size: 1.5rem;
  }
  #content .authorProfile .content .content {
    display: none;
  }
}
#content .authorProfile img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  user-select: none;
}
#content .authorProfile .name {
  z-index: 2;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1px;
  text-shadow: 1px 1px #b2ffce;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#content .authorProfile .email {
  z-index: 2;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 5px;
}
#content .authorProfile .bio {
  z-index: 2;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  text-align: justify;
}
#content .authorProfile .content {
  grid-area: text;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px 10px 20px;
}
#content .authorProfile .content::-webkit-scrollbar {
  display: none;
}
#content .authorProfile .content .delete {
  float: right;
}

#footer {
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  padding-left: 6.665vw;
  padding-right: 6.665vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #181b20;
  color: #d6c5cc;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: laChata;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
}
#footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  text-shadow: 1px 1px #181b20;
}
#footer .socials a, #footer .socials .pseudoLink {
  color: #d6c5cc;
  margin-left: 5px;
  margin-right: 5px;
}
#footer .socials a:hover, #footer .socials .pseudoLink:hover {
  color: #ff78b0;
}

/*# sourceMappingURL=index.css.map */
