@font-face {
  font-family: neuropol;
  src: url("/public/neuropol.ttf");
}
@font-face {
  font-family: akaju;
  src: url("/public/Akaju_Thin.otf");
}
@font-face {
  font-family: quicksand;
  src: url("/public/quicksand.ttf");
}
html {
  font-size: 87.5%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 1.125rem;
}

a {
  color: #b2ffce;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #ff78b0;
}

.delete {
  cursor: pointer;
  z-index: 2;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  font-size: 2rem;
}
.delete:hover {
  color: #ff78b0;
}

body {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  color: #84cc99;
  overscroll-behavior: none;
  background-color: #181b20;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "content" "footer";
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
body.landing #content {
  overflow-y: auto;
}
body.landing #nav {
  position: fixed;
  transition: transform 0.25s ease-out;
}
body.landing #nav.hidden {
  transform: translateY(-100%);
}
body::-webkit-scrollbar {
  display: none;
}

#landing {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: 1;
  background-color: #181b20;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 6rem;
  grid-template-areas: "header" "submit" "nav";
  border-bottom: 1rem solid #181b20;
}
#landing #header {
  z-index: 1;
  grid-area: header;
  aspect-ratio: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#landing #submit {
  grid-area: submit;
  margin: auto;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 20px;
  background-color: rgba(255, 120, 176, 0.2);
  border: 4px solid #ff78b0;
  color: #F6FFFF;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing #submit:hover {
  background-color: rgba(255, 120, 176, 0.4);
}
#landing #video {
  grid-column: 1;
  grid-row: 1/span 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: auto;
  background: #181b20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing #video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
#landing nav {
  z-index: 2;
  grid-area: nav;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
}
#landing nav a {
  display: block;
  width: 15vw;
  height: 100%;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  color: #b2ffce;
  background-color: #84cc99;
  text-shadow: 1px 1px #181b20;
  background-color: #181b20;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 2px;
  transition: padding 0.25s ease-out, transform 0.25s ease-out;
}
#landing nav a.active, #landing nav a:hover {
  color: #ff78b0;
  padding-bottom: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
  box-sizing: border-box;
  width: 100%;
  height: 4.8rem;
  padding-left: 6.665vw;
  padding-right: 6.665vw;
  z-index: 4;
  background: #181b20;
  color: #84cc99;
  border-bottom: 4px solid #495350;
}
#nav .logo {
  box-sizing: border-box;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#nav .logo img {
  height: 100%;
  aspect-ratio: auto;
}
#nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
#nav .links a {
  box-sizing: border-box;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  color: #b2ffce;
  background-color: #181b20;
  text-shadow: 1px 1px #181b20;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .links a.active, #nav .links a:hover {
  color: #ff78b0;
  background-color: #495350;
}

#content {
  grid-area: content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url("background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
#content::-webkit-scrollbar {
  display: none;
}
#content::after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(6.665% - 10px);
  right: calc(6.665% - 10px);
  bottom: 0;
  background-color: rgba(9, 0, 0, 0.7);
  z-index: 0;
}
#content .articleCover {
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  width: 86.67%;
  height: 160px;
  min-height: 160px;
  margin-bottom: 20px;
  background-color: #181b20;
  color: #84cc99;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "image ." "image text" "image .";
}
#content .articleCover:first-child {
  margin-top: 20px;
}
#content .articleCover .content {
  grid-area: text;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px 10px 20px;
}
#content .articleCover .content::-webkit-scrollbar {
  display: none;
}
#content .articleCover .content .title {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px green;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#content .articleCover .content .title .delete {
  float: right;
}
#content .articleCover .content .byline {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
#content .articleCover .content .byline .date::before {
  content: ", ";
}
#content .articleCover .content .abstract {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
}
#content .articleCover img {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
#content .articleCover.featured {
  width: 100%;
  margin-top: 0;
  margin-bottom: 35px;
  min-height: 80vh;
  max-height: 80vh;
  height: 80vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "image" "text";
  background-color: #181b20;
  color: #d6c5cc;
  text-align: center;
}
#content .articleCover.featured .title {
  font-size: 3.554rem;
}
#content .articleCover.featured .content {
  padding: 10px 20px;
}
#content .textBlock {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 86.67%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #181b20;
  color: #84cc99;
  z-index: 2;
}
#content .textBlock:first-child {
  margin-top: 20px;
}
#content .textBlock.noBackground {
  background: none;
}
#content .textBlock.extraPadding {
  padding: 10px 40px;
}
#content .textBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #495350;
  font-variant: small-caps;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2.666rem;
  text-align: center;
}
#content .textBlock p {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 5px;
}
#content .textBlock p:last-child {
  margin-bottom: 0;
}
#content .titleBlock {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 86.67%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #181b20;
  color: #84cc99;
  z-index: 2;
}
#content .titleBlock:first-child {
  margin-top: 20px;
}
#content .titleBlock.noBackground {
  background: none;
}
#content .titleBlock.extraPadding {
  padding: 10px 40px;
}
#content .titleBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #495350;
  font-variant: small-caps;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  text-align: center;
}
#content .titleBlock p {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  text-align: center;
}
#content .button {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 3.554rem;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  z-index: 3;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
#content .button:hover {
  color: #ff78b0;
}
#content .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
  z-index: 2;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
}
#content .pagination .current,
#content .pagination .next,
#content .pagination .prev {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
#content .pagination .next,
#content .pagination .prev {
  cursor: pointer;
}
#content .pagination .next:active, #content .pagination .next:hover,
#content .pagination .prev:active,
#content .pagination .prev:hover {
  color: #ff78b0;
}
#content .pagination .next.disabled,
#content .pagination .prev.disabled {
  color: #84cc99;
  cursor: auto;
}
#content .radio {
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  width: 86.67%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "image ." "image text" "image .";
  height: 160px;
  min-height: 160px;
  background-color: #181b20;
  color: #84cc99;
}
#content .radio#radio {
  grid-template-columns: 300px 1fr;
  height: 300px;
  min-height: 300px;
}
#content .radio#radio ~ .textBlock {
  display: block;
  font-size: 2rem;
  text-align: center;
}
#content .radio .content {
  grid-area: text;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px 10px 20px;
}
#content .radio .content::-webkit-scrollbar {
  display: none;
}
#content .radio .content .titleLine {
  font-family: neuropol;
  font-weight: 400;
  line-height: 1.25;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
#content .radio .content .titleLine .title {
  letter-spacing: 1px;
  text-shadow: 1px 1px #b2ffce;
  text-transform: uppercase;
}
#content .radio .content .titleLine .artist {
  text-transform: capitalize;
}
#content .radio .content .titleLine .artist::before {
  content: "by";
  margin-left: 1ex;
  margin-right: 1ex;
}
#content .radio .content .titleLine .delete {
  margin-left: auto;
}
#content .radio .content .byline {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
#content .radio .content .byline .date::before {
  content: ", ";
}
#content .radio .content .blurb {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.5rem;
  text-align: justify;
}
#content .radio.paused img {
  filter: blur(2px) grayscale(50%);
}
#content .radio img:hover ~ .play {
  color: #ff78b0;
}
#content .radio .play {
  aspect-ratio: 1;
  grid-area: image;
  font-size: 3.554rem;
  background-color: #181b20;
  box-sizing: border-box;
  width: 3ex;
  height: 3ex;
  border-radius: 25%;
  color: #84cc99;
  text-shadow: 1px 1px #b2ffce;
  z-index: 3;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#content .radio .play:hover {
  color: #ff78b0;
}
#content .radio img {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  cursor: pointer;
}
#content.radio {
  justify-content: space-around;
}
#content .article {
  background-color: #F6FFFF;
  color: #181b20;
  font-family: quicksand;
  font-weight: 400;
  line-height: 1.25;
  padding: 10px 40px;
}
#content .article img {
  width: 100%;
  aspect-ratio: 1.333;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
#content .article a {
  color: #84cc99;
}
#content .article a:hover {
  color: #ff78b0;
}
#content .article .byline {
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
#content .article .byline .date::before {
  content: ", ";
}
#content .zineCover {
  max-width: 86.67%;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
}
#content .zineCover:first-child {
  margin-top: 20px;
}
#content .zineCover canvas {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
#content .zineCover .delete {
  z-index: 3;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  margin-left: auto;
  margin-right: auto;
  margin-right: 5px;
  margin-top: 5px;
}
#content .zineCover .content {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  font-size: 1.5rem;
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  color: #84cc99;
  background-color: #181b20;
}
#content .zine {
  z-index: 2;
  margin-bottom: 20px;
  width: 86.67%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}
#content .zine:first-child {
  margin-top: 20px;
}
#content .zine .zinePage {
  width: 100%;
  grid-row: 1;
}
#content .zine .zinePage:first-of-type {
  grid-area: left !important;
}
#content .zine .zinePage:last-of-type {
  grid-area: right;
}
#content .zine .zinePage.cover {
  grid-area: right !important;
}
#content .zine .pageMarker {
  grid-row: 1;
  margin-top: auto;
  padding-left: 5px;
  padding-right: 5px;
  aspect-ratio: 1;
  background: #181b20;
  color: #84cc99;
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#content .zine .pageMarker:first-of-type {
  grid-area: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}
#content .zine .pageMarker:last-of-type {
  grid-area: right;
  margin-left: auto;
  margin-right: 0;
}
#content form {
  width: 86.67%;
  z-index: 2;
  background-color: #181b20;
  color: #84cc99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#footer {
  grid-area: footer;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding-left: 6.665vw;
  padding-right: 6.665vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #181b20;
  color: #d6c5cc;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: akaju;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.125rem;
}
#footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  text-shadow: 1px 1px #181b20;
}
#footer .socials a {
  color: #d6c5cc;
  margin-left: 5px;
  margin-right: 5px;
}
#footer .socials a:hover {
  color: #ff78b0;
}

/*# sourceMappingURL=index.css.map */
