html {
  font-size: 87.5%;
}

/*14px*/
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #B8BECB;
  overscroll-behavior: none;
  background-color: #090000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text_small,
small {
  font-size: 0.8rem;
}

a {
  color: #090000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #DFD525;
}

#landing {
  width: 100vw;
  height: 100vh;
  background-color: #090000;
  color: #B8BECB;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 3rem;
  border-bottom: 1px solid #090000;
}
#landing #header {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  aspect-ratio: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /*background-color: $green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-variant: small-caps;
  text-shadow: 1px 1px $black;
  overflow: visible;

  h1 {
    font-size: 5.052rem;
    margin: 0;
    width: auto;
    width: 35%;
    text-align: right;

    &:last-child {
      text-align: left;
    }
  }

  .logo {
    width: 20vw;
    margin-top: -2vh;
    align-self: flex-start;
    background-image: url("logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
  }*/
}
#landing #submit {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  font-size: 4rem;
}
#landing .img {
  grid-column: 1;
  grid-row: 1/span 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: auto;
  background: #090000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*circle {
    animation: 3s ease-in-out 0s infinite alternate svgDemo;
    stroke: $yellow;
    stroke-width: 1;

    &:first-child {
      animation-direction: alternate-reverse;
      stroke: $pink;
    }
  }*/
}
#landing .img video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
#landing nav {
  z-index: 2;
  height: 100%;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
  flex-wrap: nowrap;
}
#landing nav a {
  height: 100%;
  font-size: 1.5rem;
  display: block;
  color: #B8BECB;
  width: calc(15vw - 10px - 2 * (1ex + 5px));
  text-shadow: 1px 1px #090000;
  background-color: #475B59;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  transition: padding 0.25s ease-out, transform 0.25s ease-out;
}
#landing nav a.active, #landing nav a:hover {
  /*&:nth-child(2n) {
    color: $pink;
  }

  &:nth-child(2n+1) {
    color: $yellow;
  }*/
  color: #F15989;
  padding-bottom: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 20px);
  height: 4.8rem;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #090000;
  color: #B8BECB;
  transition: transform 0.25s ease-out;
  z-index: 4;
  border-bottom: 4px solid #475B59;
  /*.title {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    h1 {
      font-size: 1.563rem;
      font-variant: small-caps;
      letter-spacing: 2px;
      color: $white;
      text-shadow: 1px 1px $green;
      margin: 0;
    }
  }*/
}
#nav.sticky {
  position: sticky;
}
#nav.hidden {
  transform: translateY(-100%);
}
#nav .logo {
  height: calc(100% - 10px);
  cursor: pointer;
}
#nav .logo img {
  height: 100%;
  aspect-ratio: auto;
}
#nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
#nav .links a {
  font-size: 2rem;
  font-variant: small-caps;
  color: #B8BECB;
  text-shadow: 1px 1px #475B59;
  text-align: center;
  padding-left: calc(1ex + 5px);
  padding-right: calc(1ex + 5px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nav .links a.active, #nav .links a:hover {
  background-color: #151212;
  color: #F15989;
  /*&:nth-child(2n) {
    color: $pink;
  }

  &:nth-child(2n+1) {
    color: $yellow;
  }*/
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
#content::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(5% - 10px);
  right: calc(5% - 10px);
  bottom: 0;
  background-color: #090000;
  z-index: 0;
}
#content .article {
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  width: 90%;
  height: 160px;
  margin-top: 20px;
  background-color: #B8BECB;
  color: #090000;
  display: grid;
  grid-template-columns: 320px 1fr 10px;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}
#content .article .byline {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  font-size: 1.15rem;
  font-weight: lighter;
  text-transform: capitalize;
  line-height: 1;
}
#content .article .byline .date::before {
  content: ", ";
}
#content .article img {
  max-width: 100%;
  max-height: 160px;
  width: 100%;
  height: 160px;
  grid-column: 1;
  grid-row: 1/span 5;
  object-fit: cover;
  object-position: center;
}
#content .article h2 {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.5rem;
  text-shadow: 1px 1px #475B59;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
#content .article p {
  grid-column: 2;
  grid-row: 4;
  font-size: 1rem;
  margin: 0;
  text-align: justify;
}
#content .article.featured {
  width: 100%;
  margin-top: 0;
  max-height: 80vh;
  height: 80vh;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-rows: 1fr auto auto auto 0;
  background-color: #090000;
  color: #B8BECB;
}
#content .article.featured .img {
  grid-column: 1/span 3;
  grid-row: 1;
  height: 100%;
  width: 100%;
  background-image: var(--background-src);
  background-size: cover;
  background-position: center;
}
#content .article.featured h2 {
  grid-column: 2;
  grid-row: 2;
}
#content .article.featured .byline {
  grid-column: 2;
  grid-row: 3;
}
#content .article.featured p {
  grid-column: 2;
  grid-row: 4;
}

#footer {
  display: flex;
  width: calc(100vw - 10vw);
  padding-left: 5vw;
  padding-right: 5vw;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #090000;
  color: #B8BECB;
  padding-top: 5px;
  padding-bottom: 5px;
}
#footer .copywrite {
  margin: 0;
}
#footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.75rem;
  color: #B8BECB;
  text-shadow: 1px 1px #475B59;
}
#footer .socials a {
  color: #B8BECB !important;
  margin-left: 5px;
  margin-right: 5px;
}
#footer .socials a:hover {
  color: #F15989 !important;
  /*
  &:nth-child(2n) {
    color: $pink !important;
  }

  &:nth-child(2n+1) {
    color: $yellow !important;
  }*/
}

#pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: #475B59;
  text-shadow: 1px 1px rgba(71, 91, 89, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  z-index: 2;
}
#pagination #currentPage {
  cursor: default;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
#pagination #prevPage {
  cursor: pointer;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
#pagination #prevPage:hover {
  color: #F15989;
  text-shadow: 1px 1px rgba(241, 89, 137, 0.5);
}
#pagination #nextPage {
  cursor: pointer;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
#pagination #nextPage:hover {
  color: #F15989;
  text-shadow: 1px 1px rgba(241, 89, 137, 0.5);
}

body.radio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
body.radio #nav {
  position: inherit;
  grid-column: 1;
  grid-row: 1;
}
body.radio #content {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
}
body.radio #content::after {
  content: none;
}
body.radio #footer {
  grid-column: 1;
  grid-row: 3;
}

#archiveButton {
  width: calc(80% - 20px);
  padding: 10px;
  background-color: #B8BECB;
  color: #090000;
  font-size: 1.25rem;
  grid-column: 2;
  grid-row: 2;
  margin: 20px 0 0;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
}

#radioArchiveHeader {
  color: #475B59;
  text-shadow: 1px 1px rgba(71, 91, 89, 0.5);
  z-index: 2;
  margin-bottom: 0;
  margin-top: 20px;
}

#radioArchiveSubtitle {
  color: #475B59;
  width: 80%;
  z-index: 2;
  font-size: 1rem;
  text-align: center;
}

.delete {
  cursor: pointer;
  z-index: 4;
  color: #475B59;
  text-shadow: 1px 1px #090000;
  margin-left: 1ex;
}
.delete:hover {
  color: #F15989;
}

.radioArchive {
  width: 80%;
  max-height: 160px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 160px 10px auto 1fr 0;
  grid-template-rows: 0 auto auto auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
  background-color: #B8BECB;
  color: #090000;
  z-index: 2;
}
.radioArchive img {
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: filter 0.25s ease-out;
  grid-column: 1;
  grid-row: 1/span 5;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.radioArchive .title {
  grid-column: 3;
  grid-row: 2;
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 1px 1px #475B59;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
}
.radioArchive .artist {
  grid-column: 4;
  grid-row: 2;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
}
.radioArchive .artist::before {
  content: "by ";
  text-transform: none;
}
.radioArchive .byline {
  border-top: 1px solid rgba(9, 0, 0, 0.5);
  padding-top: 5px;
  grid-column: 3/span 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  font-weight: lighter;
  text-transform: capitalize;
  line-height: 1;
}
.radioArchive .byline .date::before {
  content: ", ";
}
.radioArchive .blurb {
  grid-column: 3/span 2;
  grid-row: 4;
  margin: 0;
  font-size: 1rem;
  text-align: justify;
}

#radio {
  width: 80%;
  display: grid;
  grid-template-columns: 300px 10px auto 1fr 0;
  grid-template-rows: 0 auto auto auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  background-color: #B8BECB;
  color: #090000;
  z-index: 2;
}
#radio.paused img {
  filter: blur(2px) grayscale(50%);
}
#radio img:hover ~ .play {
  color: #F15989;
}
#radio .play {
  aspect-ratio: 1;
  grid-column: 1;
  grid-row: 1/span 5;
  padding: 5px;
  background-color: #090000;
  font-size: 1.5rem;
  text-align: center;
  color: #475B59;
  text-shadow: 1px 1px rgba(71, 91, 89, 0.5);
  height: 3ex;
  width: 3ex;
  z-index: 4;
  border-radius: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
#radio .play:hover {
  color: #F15989;
  text-shadow: 1px 1px rgba(241, 89, 137, 0.5);
}
#radio img {
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: filter 0.25s ease-out;
  grid-column: 1;
  grid-row: 1/span 5;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
#radio .title {
  grid-column: 3;
  grid-row: 2;
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 1px 1px #475B59;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
}
#radio .artist {
  grid-column: 4;
  grid-row: 2;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
}
#radio .artist::before {
  content: "by ";
  text-transform: none;
}
#radio .byline {
  border-top: 1px solid rgba(9, 0, 0, 0.5);
  padding-top: 5px;
  grid-column: 3/span 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  font-weight: lighter;
  text-transform: capitalize;
  line-height: 1;
}
#radio .byline .date::before {
  content: ", ";
}
#radio .blurb {
  grid-column: 3/span 2;
  grid-row: 4;
  margin: 0;
  font-size: 1rem;
  text-align: justify;
}

#about,
#submissionGuidelines {
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #B8BECB;
  color: #090000;
  z-index: 2;
}
#about h2,
#submissionGuidelines h2 {
  margin: 0;
  padding: 10px;
  background-color: #475B59;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 5px;
}
#about p,
#submissionGuidelines p {
  text-align: justify;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#about {
  margin-top: 20px;
}

#submit {
  color: #B8BECB;
  text-shadow: 1px 1px #475B59;
  font-size: 3rem;
  text-align: center;
  z-index: 2;
  margin-bottom: 20px;
  cursor: pointer;
}
#submit:hover {
  color: #F15989;
}

#article {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  width: 90%;
  background-color: #B8BECB;
  color: #090000;
  z-index: 2;
}
#article .img {
  width: 30%;
  aspect-ratio: 1;
  background-image: var(--background-src);
  background-position: center;
  background-size: cover;
  margin: 10px;
  box-shadow: 1px 1px #475B59;
}
#article .img:nth-of-type(2n) {
  float: right;
  margin-left: 15px;
}
#article .img:nth-of-type(2n+1) {
  float: left;
  margin-right: 15px;
}
#article h2 {
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  background-color: #475B59;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
#article h2:first-child {
  margin-top: 0;
}
#article p {
  text-align: justify;
  margin-bottom: 5px;
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
}

#articleEdit {
  color: #B8BECB;
  text-shadow: 1px 1px #475B59;
  font-size: 2.5rem;
  text-align: center;
  z-index: 2;
  margin-bottom: 20px;
  cursor: pointer;
}
#articleEdit:hover {
  color: #F15989;
}

.zine {
  z-index: 2;
  margin-top: 20px;
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.zine:last-child {
  margin-bottom: 20px;
}
.zine .zinePage {
  width: 100%;
  grid-row: 1;
}
.zine .zinePage:first-of-type {
  grid-column: 1 !important;
}
.zine .zinePage:last-of-type {
  grid-column: 2;
}
.zine .zinePage.cover {
  grid-column: 1/span 2 !important;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.zine .pageMarker {
  grid-row: 1;
  margin-top: auto;
  padding-left: 5px;
  padding-right: 5px;
  aspect-ratio: 1;
  background: #090000;
  color: #B8BECB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.zine .pageMarker:first-of-type {
  grid-column: 1 !important;
  margin-right: auto !important;
  margin-left: 0 !important;
}
.zine .pageMarker:last-of-type {
  grid-column: 2;
  margin-left: auto;
  margin-right: 0;
}

.noContent {
  color: #B8BECB;
  z-index: 2;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.zineCover {
  max-width: 90%;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr auto;
  margin-top: 20px;
}
.zineCover:last-child {
  margin-bottom: 20px;
}
.zineCover canvas {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.zineCover .delete {
  grid-column: 3;
  grid-row: 1;
  margin-right: 5px;
  margin-top: 5px;
}
.zineCover .metadata {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5px;
  font-size: 1.5rem;
  color: #B8BECB;
  background-color: #090000;
  opacity: 0.75;
}
.user {
  width: calc(90% - 40px);
  background-color: #B8BECB;
  color: #090000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 1.25rem;
  padding: 10px 20px;
  margin-top: 20px;
  z-index: 2;
}
.user:last-child {
  margin-bottom: 20px;
}
.user .admin {
  margin-left: auto;
  margin-right: 1ex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user .admin i {
  margin-left: 1ex;
  cursor: pointer;
}
.user .admin i.disabled {
  cursor: auto;
}
.user .admin i.disabled:hover {
  color: #090000;
}
.user .admin i:hover {
  color: #F15989;
}
.user .delete.disabled {
  visibility: hidden;
  cursor: auto;
}

/*# sourceMappingURL=index.css.map */
